<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>#}
{#    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>#}
{#</head>#}
<body>
<!-- Modal -->
<div class="modal order_modal" role="document" style="overflow-y: scroll;">
    <div class="modal-dialog" style="max-width: 90%; margin: 56px auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="card mb-4">
                            <img class="card-img-top img-fluid"
                                 src="../static/dairy%20milk%20yogut.jpg" alt="okthen">
                            <div class="card-body">
                                <h4 class="card-title">Milk/Yorgut</h4>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-outline-secondary">
                            <div class="card-header">
                                Order Details
                            </div>
                            <div class="card-body">
                                <form method="post" action="/ok">

                                    <div class="form-group">
                                        <label for="exampleInputname1" class="text-center">name</label>
                                        <input type="name" name="name" title="Enter Your name" style="color: white"
                                               class="form-control" id="exampleInputname1"
                                               aria-describedby="nameHelp" placeholder="Enter name"
                                               value="{% if form.name.data %}{{ form.name.data }}{% endif %}">

                                        <small id="nameHelp" class="form-text text-muted ">We'll never share your name
                                            with anyone
                                            else.
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="text-center">email</label>
                                        <input type="email" name="email" title="Enter Your Email" style="color: white"
                                               class="form-control" id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Enter email"
                                               value="{% if form.email.data %}{{ form.email.data }}{% endif %}">>

                                        <small id="emailHelp" class="form-text text-muted ">We'll never share your email
                                            with anyone
                                            else.
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputphone1" class="text-center">phone</label>
                                        <input type="phone" name="phone" title="Enter Your phone" style="color: white"
                                               class="form-control" id="exampleInputphone1"
                                               aria-describedby="phoneHelp" placeholder="Enter phone"
                                               value="{% if form.phone.data %}{{ form.phone.data }}{% endif %}">>

                                        <small id="phoneHelp" class="form-text text-muted ">We'll never share your phone
                                            with anyone
                                            else.
                                        </small>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputquantity1" class="text-center">quantity</label>
                                        <input type="quantity" name="quantity" title="Enter Your quantity"
                                               style="color: white"
                                               class="form-control" id="exampleInputquantity1"
                                               aria-describedby="quantityHelp" placeholder="Enter quantity"
                                               value="{% if form.quantity.data %}{{ form.quantity.data }}{% endif %}">

                                        <small id="quantityHelp" class="form-text text-muted ">We'll never share your
                                            quantity with anyone
                                            else.
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputproduct1" class="text-center">product</label>
                                        <input type="product" name="product" title="Enter Your product"
                                               style="color: white"
                                               class="form-control" id="exampleInputproduct1"
                                               aria-describedby="productHelp" placeholder="Enter product"
                                               value="{% if form.product.data %}{{ form.product.data }}{% endif %}">

                                        <small id="productHelp" class="form-text text-muted ">We'll never share your
                                            product with anyone
                                            else.
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputlocation1" class="text-center">location</label>
                                        <input type="location" name="location" title="Enter Your location"
                                               style="color: white"
                                               class="form-control" id="exampleInputlocation1"
                                               aria-describedby="locationHelp" placeholder="Enter location"
                                               value="{% if form.location.data %}{{ form.location.data }}{% endif %}">

                                        <small id="locationHelp" class="form-text text-muted ">We'll never share your
                                            location with anyone
                                            else.
                                        </small>
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                               style="margin-top: 1rem">
                                        <label class="form-check-label" for="exampleCheck1" style="margin-top: 1rem">Check
                                            me
                                            out</label>
                                    </div>

                                    <button type="submit" class="btn btn-primary float-right"
                                            style="margin-right: 2rem">Order
                                    </button>
                                    <div class="forgot float-left justify-content-center" style="margin-left: 7rem">
                                        {#                            <a href="form_reset"><p>Forgot Password</p></a>#}
                                    </div>
                                    {{ form.csrf_token }}
                                </form>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>